@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none; }

body {
  font-family: "Microsoft YaHei", 微软雅黑;
  background-color: #f5f5f5; }

.content {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 45px; }

.guide {
  width: 100%;
  height: 47px;
  background-color: #207479; }

.button_list {
  margin-left: 12px; }

button {
  outline: none;
  border: 0;
  cursor: pointer; }

.first, .second, .third {
  background: transparent;
  height: 47px;
  border-style: none;
  margin: 0px;
  color: #f5f5f5;
  font-size: 20.83px;
  cursor: pointer; }

.first {
  width: 84px; }

.second {
  width: 120px; }

.third {
  width: 120px; }

.first_page:hover, .upload:hover, .rank:hover {
  background-color: #33c157; }

@media screen and (min-width: 1096px) {
  .index_banner {
    display: block;
    width: 100%;
    height: 425px;
    background: url("/static/img/banner.jpg") no-repeat;
    background-size: 100%; }
    .index_banner .index_banner_img {
      display: none; } }

@media screen and (max-width: 1096px) {
  .index_banner {
    display: block;
    width: 100%;
    height: auto; }
    .index_banner .index_banner_img img {
      width: 100%; } }

.index_tag {
  width: 83px;
  height: 47px;
  color: #f5f5f5;
  display: inline-block;
  font-size: 20.83px;
  text-align: center;
  line-height: 47px; }

.tag1 {
  background-color: #33c157; }

.tag2 {
  background-color: #207479; }

.index_notice, .index_tu, .index_article {
  width: 100%;
  display: block;
  height: auto;
  overflow: hidden;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 25px;
  padding-bottom: 35px;
  border-bottom: 1px solid silver; }
  @media screen and (max-device-width: 320px) {
    .index_notice, .index_tu, .index_article {
      padding-left: 0px;
      padding-right: 0px; } }
  .index_notice .index_title, .index_tu .index_title, .index_article .index_title {
    display: block; }
  .index_notice .index_more, .index_tu .index_more, .index_article .index_more {
    float: right;
    color: #c9c9c9;
    line-height: 47px;
    font-size: 16.67px; }

.index_morecontent {
  border-bottom: none; }

.index_notice .index_notice_box {
  display: block;
  margin-top: 25px; }
  .index_notice .index_notice_box .index_notice_content {
    position: relative;
    display: block;
    height: 35px;
    margin-bottom: 10px; }
    .index_notice .index_notice_box .index_notice_content .index_notice_dot {
      position: absolute;
      left: 0px;
      display: inline-block;
      background-color: white;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid silver;
      top: 50%;
      margin-top: -6px; }
    .index_notice .index_notice_box .index_notice_content .index_notice_line {
      border-bottom: 1px solid silver;
      margin-left: 20px;
      width: 80%; }
      .index_notice .index_notice_box .index_notice_content .index_notice_line a {
        line-height: 35px;
        font-size: 16.67px;
        color: #626262; }
    .index_notice .index_notice_box .index_notice_content .index_notice_time {
      font-size: 16.67px;
      color: #c9c9c9;
      position: absolute;
      right: 0px;
      bottom: 0px;
      vertical-align: text-bottom; }
      @media screen and (max-device-width: 320px) {
        .index_notice .index_notice_box .index_notice_content .index_notice_time {
          display: none; } }
      .index_notice .index_notice_box .index_notice_content .index_notice_time:before {
        content: url("/static/img/time.png"); }

.index_tu .index_tu_box {
  width: 100%;
  margin-top: 25px;
  display: block;
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-device-width: 320px) {
    .index_tu .index_tu_box {
      flex-direction: column;
      display: flex; } }
  @media screen and (max-width: 1080px) {
    .index_tu .index_tu_box {
      flex-direction: column;
      display: flex; } }
  .index_tu .index_tu_box .index_tu_content {
    width: 283px;
    height: 283px;
    margin-bottom: 30px;
    background-color: white;
    padding: 11.5px; }
    @media screen and (max-width: 1200px) {
      .index_tu .index_tu_box .index_tu_content {
        margin-left: auto;
        margin-right: auto; } }
    .index_tu .index_tu_box .index_tu_content .index_tu_img {
      background-color: black;
      display: block;
      width: 260px;
      height: 177px; }
    .index_tu .index_tu_box .index_tu_content .index_tu_info_box {
      width: 100%;
      display: block;
      position: relative;
      height: 50px; }
      .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_info {
        width: 50%;
        height: 50px; }
        .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_info a {
          font-size: 16.67px;
          color: #626262;
          line-height: 34px; }
        .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_info span {
          font-size: 12.92px;
          color: #626262; }
      .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_like {
        width: 30px;
        position: absolute;
        bottom: 0px;
        right: 0px; }
        .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_like a {
          font-size: 12.92px;
          color: #626262; }
  .index_tu .index_tu_box .index_blank {
    height: 0px;
    padding: 0px; }

.index_article .index_article_box {
  width: 100%;
  display: block; }
  .index_article .index_article_box .index_article_content {
    width: 100%; }
    .index_article .index_article_box .index_article_content .index_article_line {
      position: relative;
      box-shadow: 2px 2px 2px #cecece;
      margin-top: 20px;
      width: 100%;
      height: 47px;
      background-color: white; }
      .index_article .index_article_box .index_article_content .index_article_line .index_article_title {
        line-height: 47px;
        margin-left: 13px;
        font-size: 22.92px;
        color: #626262; }
      .index_article .index_article_box .index_article_content .index_article_line .index_article_info {
        height: 47px;
        position: absolute;
        right: 25px;
        display: inline-block;
        line-height: 47px; }
        .index_article .index_article_box .index_article_content .index_article_line .index_article_info span {
          font-size: 18.75px;
          color: #c9c9c9; }
        .index_article .index_article_box .index_article_content .index_article_line .index_article_info a {
          font-size: 16.67px;
          color: #c9c9c9;
          margin-left: 30px; }
        @media screen and (max-device-width: 320px) {
          .index_article .index_article_box .index_article_content .index_article_line .index_article_info {
            display: none; } }
        .index_article .index_article_box .index_article_content .index_article_line .index_article_info .index_liked_count:before {
          content: url("/static/img/heart-s.png"); }
        .index_article .index_article_box .index_article_content .index_article_line .index_article_info .index_timestamp:before {
          content: url("/static/img/time.png"); }

.rank-main {
  margin-top: 40px;
  overflow: hidden; }

.rank-movie-head, .rank-text-head, .rank-photo-head, .rank-catoon-head, .rank-course-head {
  width: 190px;
  height: 50px;
  box-shadow: 2px 2px 2px #cecece;
  text-align: center;
  font-size: 27.08px;
  color: #383838;
  line-height: 50px;
  font-weight: bold;
  background-color: #ffffff;
  font-family: "Microsoft YaHei"; }

.rank-movie-block, .rank-text-block, .rank-photo-block, .rank-catoon-block, .rank-course-block {
  float: left;
  margin-left: 60px; }

.rank-movie-rank, .rank-text-rank, .rank-photo-rank, .rank-catoon-rank, .rank-course-rank {
  margin-left: -30px;
  border-left: 1px dotted #c9c9c9;
  margin-top: 10px;
  margin-bottom: 20px; }
  .rank-movie-rank .rank_content, .rank-text-rank .rank_content, .rank-photo-rank .rank_content, .rank-catoon-rank .rank_content, .rank-course-rank .rank_content {
    height: 30px;
    margin-left: 30px;
    overflow: hidden; }
  .rank-movie-rank a, .rank-text-rank a, .rank-photo-rank a, .rank-catoon-rank a, .rank-course-rank a {
    color: #000;
    line-height: 30px;
    font-size: 16.67px;
    color: #626262; }
  .rank-movie-rank span, .rank-text-rank span, .rank-photo-rank span, .rank-catoon-rank span, .rank-course-rank span {
    margin-left: 80px;
    font-size: 12.92px;
    color: #c9c9c9;
    line-height: 12.92px;
    vertical-align: text-bottom; }

.rank-movie-rank {
  border: none; }

.second_box {
  padding: 0 10%;
  margin-bottom: 15%; }

.second_head {
  display: block;
  margin-top: 50px;
  line-height: 50px;
  border-bottom: 1px solid #c9c9c9; }

.second_content {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center; }
  .second_content p {
    text-align: left;
    line-height: 50px;
    font-size: 20.83px;
    font-family: "Microsoft YaHei";
    color: #626262; }

.second_head_title {
  font-family: "SimSun" 宋体;
  font-size: 39.58px;
  color: #626262; }

.second_head_author {
  margin-left: 10px;
  font-size: 25px;
  color: #c9c9c9;
  font-size: 20.83px;
  font-family: "Microsoft YaHei";
  color: #c9c9c9; }

.second_vote {
  position: fixed;
  height: 83px;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #c9c9c9;
  background-color: #f5f5f5;
  z-index: 300; }
  .second_vote button {
    height: 40px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -100px;
    background-color: #33c157;
    color: #ffffff;
    font-size: 25px;
    font-family: "Microsoft YaHei";
    color: #f5f5f5; }

.c_container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 500;
  background: rgba(41, 47, 51, 0.7); }

.c_content {
  width: 100%;
  margin: 200px auto; }

.c_box {
  width: 300px;
  margin: -80px auto; }

#c_confirm_btn {
  display: block;
  margin: auto;
  width: 80px;
  height: 40px;
  font-size: 20px;
  color: #c9c9c9;
  background-color: #33c157; }

.submite_flash {
  position: fixed;
  width: 160px;
  bottom: 3px;
  left: 50%;
  text-align: center;
  margin-left: -80px;
  list-style: none;
  font-size: 20px;
  z-index: 350; }

.upload-main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  position: relative; }

label {
  display: inline-block;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px; }

.upload_label {
  letter-spacing: 15px; }

.upload-author, .upload-title, .upload-class, .upload-addfile {
  margin-bottom: 35px; }

.upload-title-form, .upload-author-form {
  margin-left: 35px;
  width: 508px;
  height: 35px;
  border: none;
  outline: medium;
  box-shadow: 1px 1px #c9c9c9;
  background: #ffffff; }

.upload-class-second {
  margin-left: 85px;
  line-height: 35px; }

.upload-class-second-spe {
  display: inline-block; }

.upload-class-choice {
  margin-left: 35px; }

.upload-file-form {
  width: 700px;
  height: 35px;
  background-color: #ffffff;
  margin-left: 45px; }

.upload-submite {
  display: block;
  width: 190px;
  position: absolute;
  height: 35px;
  background: #33c157;
  font-size: 25px;
  left: 50%;
  margin-left: -95px;
  color: #ffffff; }

.flashes {
  position: absolute;
  width: 160px;
  bottom: 150px;
  left: 50%;
  text-align: center;
  margin-left: -80px;
  list-style: none; }

.uploadfile {
  width: 70px;
  height: 40px;
  vertical-align: middle; }
