@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none; }

body {
  font-family: "Microsoft YaHei", 微软雅黑;
  background-color: #f5f5f5; }

.content {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 40px; }

.guide {
  width: 100%;
  height: 47px;
  background-color: #207479; }

.button_list {
  margin-left: 12px; }

button {
  outline: none;
  border: 0;
  cursor: pointer; }

.first, .second, .third {
  background: transparent;
  height: 47px;
  border-style: none;
  margin: 0px;
  color: #f5f5f5;
  font-size: 20.83px;
  cursor: pointer; }

.first {
  width: 84px; }

.second {
  width: 120px; }

.third {
  width: 120px; }

.first_page:hover, .upload:hover, .rank:hover {
  background-color: #33c157; }

.index_banner {
  display: block;
  width: 100%;
  height: auto; }
  .index_banner img {
    width: 100%; }

.index_tag {
  width: 100px;
  height: 47px;
  color: #f5f5f5;
  display: inline-block;
  font-size: 20.83px;
  text-align: center;
  line-height: 47px; }

.longtag {
  width: 150px; }

.tag1 {
  background-color: #33c157; }

.tag2 {
  background-color: #207479; }

.index_notice, .index_tu, .index_article {
  width: 100%;
  display: block;
  height: auto;
  overflow: hidden;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 25px;
  padding-bottom: 35px;
  border-bottom: 1px solid silver; }
  @media screen and (max-device-width: 320px) {
    .index_notice, .index_tu, .index_article {
      padding-left: 0px;
      padding-right: 0px; } }
  .index_notice .index_title, .index_tu .index_title, .index_article .index_title {
    display: block; }
  .index_notice .index_more, .index_tu .index_more, .index_article .index_more {
    float: right;
    color: #c9c9c9;
    line-height: 47px;
    font-size: 16.67px; }

.index_morecontent {
  border-bottom: none; }

.index_notice .index_notice_box {
  display: block;
  margin-top: 25px; }
  .index_notice .index_notice_box .index_notice_content {
    position: relative;
    display: block;
    height: 35px;
    margin-bottom: 10px; }
    .index_notice .index_notice_box .index_notice_content .index_notice_dot {
      position: absolute;
      left: 0px;
      display: inline-block;
      background-color: white;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid silver;
      top: 50%;
      margin-top: -6px; }
    .index_notice .index_notice_box .index_notice_content .index_notice_line {
      border-bottom: 1px solid silver;
      margin-left: 20px;
      width: 80%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
      .index_notice .index_notice_box .index_notice_content .index_notice_line a {
        line-height: 35px;
        font-size: 16.67px;
        color: #626262; }
    .index_notice .index_notice_box .index_notice_content .index_notice_time {
      font-size: 16.67px;
      color: #c9c9c9;
      position: absolute;
      right: 0px;
      bottom: 0px;
      vertical-align: text-bottom; }
      @media screen and (max-device-width: 320px) {
        .index_notice .index_notice_box .index_notice_content .index_notice_time {
          display: none; } }
      .index_notice .index_notice_box .index_notice_content .index_notice_time:before {
        content: url("/static/img/time.png"); }

.index_tu .index_tu_box {
  width: 100%;
  margin-top: 25px;
  display: block;
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-device-width: 320px) {
    .index_tu .index_tu_box {
      flex-direction: column;
      display: flex; } }
  @media screen and (max-width: 1080px) {
    .index_tu .index_tu_box {
      flex-direction: column;
      display: flex; } }
  .index_tu .index_tu_box .index_tu_content {
    width: 283px;
    height: 283px;
    margin-bottom: 30px;
    background-color: white;
    padding: 11.5px; }
    @media screen and (max-width: 1200px) {
      .index_tu .index_tu_box .index_tu_content {
        margin-left: auto;
        margin-right: auto; } }
    .index_tu .index_tu_box .index_tu_content .index_tu_img {
      display: block;
      width: 260px;
      height: 177px;
      overflow: hidden; }
      .index_tu .index_tu_box .index_tu_content .index_tu_img img {
        width: 100%;
        min-height: 177px; }
    .index_tu .index_tu_box .index_tu_content .index_tu_info_box {
      width: 100%;
      display: block;
      position: relative;
      height: 50px; }
      .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_info {
        width: 80%;
        height: 50px; }
        .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_info .index_tu_title_name {
          display: block;
          width: 200px;
          height: 40px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; }
          .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_info .index_tu_title_name a {
            font-size: 16.67px;
            color: #626262;
            line-height: 34px; }
        .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_info .index_tu_time_name {
          width: 200px;
          display: block;
          font-size: 12.92px;
          color: #626262;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; }
          .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_info .index_tu_time_name span {
            margin-right: 5px; }
      .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_like {
        width: 30px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        text-align: center; }
        .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_like .index_liked_count {
          display: block;
          width: 30px;
          text-align: center; }
          .index_tu .index_tu_box .index_tu_content .index_tu_info_box .index_tu_like .index_liked_count a {
            text-align: center;
            font-size: 12.92px;
            color: #626262; }
  .index_tu .index_tu_box .index_blank {
    height: 0px;
    padding: 0px; }

.index_article .index_article_box {
  width: 100%;
  display: block; }
  .index_article .index_article_box .index_article_content {
    width: 100%; }
    .index_article .index_article_box .index_article_content .index_article_line {
      position: relative;
      box-shadow: 2px 2px 2px #cecece;
      margin-top: 20px;
      width: 100%;
      height: 47px;
      background-color: white; }
      .index_article .index_article_box .index_article_content .index_article_line .index_article_title {
        display: inline-block;
        width: calc(100% - 500px);
        line-height: 47px;
        margin-left: 13px;
        font-size: 22.92px;
        color: #626262;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
      .index_article .index_article_box .index_article_content .index_article_line .index_article_info {
        width: 400px;
        height: 47px;
        position: absolute;
        right: 25px;
        display: inline-block;
        line-height: 47px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
        .index_article .index_article_box .index_article_content .index_article_line .index_article_info span {
          font-size: 18.75px;
          color: #c9c9c9;
          margin-right: 30px; }
        .index_article .index_article_box .index_article_content .index_article_line .index_article_info a {
          font-size: 16.67px;
          color: #c9c9c9; }
        @media screen and (max-device-width: 320px) {
          .index_article .index_article_box .index_article_content .index_article_line .index_article_info {
            display: none; } }
        .index_article .index_article_box .index_article_content .index_article_line .index_article_info .index_author_name {
          display: inline-block;
          height: 47px;
          width: 200px;
          text-align: right;
          margin-right: 30px;
          font-size: 18.75px;
          color: #c9c9c9;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
        .index_article .index_article_box .index_article_content .index_article_line .index_article_info .index_liked_count {
          display: inline-block;
          width: 60px;
          margin-right: 10px;
          font-size: 16.67px;
          color: #c9c9c9;
          vertical-align: top; }
          .index_article .index_article_box .index_article_content .index_article_line .index_article_info .index_liked_count:before {
            content: url("/static/img/heart-s.png"); }
        .index_article .index_article_box .index_article_content .index_article_line .index_article_info .index_timestamp {
          display: inline-block;
          width: 80px;
          font-size: 16.67px;
          color: #c9c9c9;
          vertical-align: top; }
          .index_article .index_article_box .index_article_content .index_article_line .index_article_info .index_timestamp:before {
            content: url("/static/img/time.png"); }

.rank-main {
  overflow: hidden;
  width: 1230px;
  margin: 40px auto 0px; }

.rank-movie-head, .rank-text-head, .rank-photo-head, .rank-catoon-head, .rank-course-head {
  width: 150px;
  height: 50px;
  box-shadow: 2px 2px 2px #cecece;
  text-align: center;
  font-size: 27.08px;
  color: #383838;
  line-height: 50px;
  font-weight: bold;
  background-color: #ffffff;
  font-family: "Microsoft YaHei"; }

.rank-movie-block, .rank-text-block, .rank-photo-block, .rank-catoon-block, .rank-course-block {
  float: left;
  margin-left: 40px; }

.rank-movie-rank, .rank-text-rank, .rank-photo-rank, .rank-catoon-rank, .rank-course-rank {
  margin-left: -20px;
  border-left: 1px dotted #c9c9c9;
  margin-top: 10px;
  margin-bottom: 20px; }
  .rank-movie-rank .rank_content, .rank-text-rank .rank_content, .rank-photo-rank .rank_content, .rank-catoon-rank .rank_content, .rank-course-rank .rank_content {
    width: 150px;
    height: 30px;
    margin-left: 20px; }
  .rank-movie-rank .rank_content_title, .rank-text-rank .rank_content_title, .rank-photo-rank .rank_content_title, .rank-catoon-rank .rank_content_title, .rank-course-rank .rank_content_title {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .rank-movie-rank a, .rank-text-rank a, .rank-photo-rank a, .rank-catoon-rank a, .rank-course-rank a {
    color: #000;
    line-height: 30px;
    font-size: 16.67px;
    color: #626262; }
  .rank-movie-rank .rank_content_liked, .rank-text-rank .rank_content_liked, .rank-photo-rank .rank_content_liked, .rank-catoon-rank .rank_content_liked, .rank-course-rank .rank_content_liked {
    display: inline-block;
    width: 25px;
    text-align: right; }
  .rank-movie-rank span, .rank-text-rank span, .rank-photo-rank span, .rank-catoon-rank span, .rank-course-rank span {
    font-size: 12.92px;
    color: #c9c9c9;
    line-height: 30px;
    vertical-align: text-bottom; }

.rank-movie-rank {
  border: none; }

.long-head {
  font-size: 22px; }

.second_box {
  width: 100%;
  padding: 0 10%;
  margin-bottom: 100px; }

.second_head {
  display: block;
  margin-top: 50px;
  border-bottom: 1px solid #c9c9c9; }

.second_content {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: left;
  line-height: 50px;
  font-size: 20.83px;
  font-family: "Microsoft YaHei";
  color: #626262; }

.second_content p {
  text-indent: 40px; }

.second_media {
  text-align: center; }
  .second_media video {
    max-width: 100%; }

.second_head_title {
  font-family: "SimSun" 宋体;
  font-size: 39.58px;
  color: #626262;
  line-height: 50px; }

.second_head_author {
  margin-left: 10px;
  color: #c9c9c9;
  font-size: 20.83px;
  font-family: "Microsoft YaHei";
  color: #c9c9c9;
  line-height: 40px; }

.second_notice {
  line-height: 40px;
  font-size: 25px; }

.second_notice_time {
  font-size: 16.67px; }

.ds-powered-by {
  display: none; }

.second_vote {
  position: fixed;
  bottom: 0px;
  height: 83px;
  width: 100%;
  border-top: 1px solid #c9c9c9;
  background-color: #f5f5f5;
  z-index: 300; }
  .second_vote button {
    position: absolute;
    height: 40px;
    width: 200px;
    display: block;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -100px;
    background-color: #33c157;
    color: #ffffff;
    font-size: 25px;
    font-family: "Microsoft YaHei";
    color: #f5f5f5; }

.c_container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 500;
  background: rgba(41, 47, 51, 0.7); }

.c_content {
  width: 100%;
  margin: 200px auto; }

.c_box {
  width: 300px;
  margin: -80px auto; }

#c_confirm_btn {
  position: absolute;
  top: 400px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 40px;
  font-size: 20px;
  color: #c9c9c9;
  background-color: #33c157; }

.submite_flash {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  background-color: #33c157;
  text-align: center;
  list-style: none;
  font-size: 20px;
  z-index: 350;
  line-height: 30px;
  color: #f5f5f5;
  overflow: hidden; }

.submite_message {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  display: inline-block;
  width: 200px; }

.submit_close {
  width: 20px;
  float: right;
  line-height: 30px;
  color: #f5f5f5;
  display: block;
  cursor: pointer; }

.second_download {
  margin: 0 auto;
  display: block;
  background-color: #207479;
  color: #ffffff;
  line-height: 50px;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 20px; }

.second_description {
  margin: 20px 50px;
  line-height: 30px;
  font-style: italic;
  text-indent: 50px; }

.banner {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative; }
  .banner img {
    height: 100%; }
  .banner .banner_img {
    width: 100%;
    height: 450px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    visibility: hidden; }
  .banner .current {
    visibility: visible; }
  .banner .switch_bt {
    margin-top: 450px;
    left: 50%;
    transform: translate(-11px);
    font-size: 0; }
  .banner .dot {
    width: 11px;
    height: 11px;
    display: inline-block;
    border: 1px solid #84a9e0;
    border-radius: 50%;
    margin-right: 10px; }
    .banner .dot:hover {
      background: #84a9e0; }
  .banner .current_dot {
    background: #84a9e0; }
  .banner .dot:last-child {
    margin-right: 0; }

.rtl_prev {
  -webkit-animation: r_t_l_next .6s ease both;
  -moz-animation: r_t_l_next .6s ease both;
  animation: r_t_l_next .6s ease both; }

.rtl_next {
  -webkit-animation: r_t_l_prev .6s ease both;
  -moz-animation: r_t_l_prev .6s ease both;
  animation: r_t_l_prev .6s ease both; }

.ltr_prev {
  -webkit-animation: l_t_r_next .6s ease both;
  -moz-animation: l_t_r_next .6s ease both;
  animation: l_t_r_next .6s ease both; }

.ltr_next {
  -webkit-animation: l_t_r_prev .6s ease both;
  -moz-animation: l_t_r_prev .6s ease both;
  animation: l_t_r_prev .6s ease both; }

@keyframes l_t_r_prev {
  to {
    transform: translateX(100%); } }

@keyframes l_t_r_next {
  from {
    transform: translateX(-100%); } }

@keyframes r_t_l_prev {
  to {
    transform: translateX(-100%); } }

@keyframes r_t_l_next {
  from {
    transform: translateX(100%); } }

.upload-main {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  position: relative; }

label {
  display: inline-block;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px; }

.upload_label {
  vertical-align: top;
  letter-spacing: 15px; }

.upload-author, .upload-title, .upload-class, .upload-addfile {
  margin-bottom: 35px; }

.upload-title-form, .upload-author-form {
  margin-left: 35px;
  width: 508px;
  height: 35px;
  border: none;
  outline: medium;
  box-shadow: 1px 1px #c9c9c9;
  background: #ffffff; }

.upload-class-second {
  margin-left: 85px;
  line-height: 35px; }

.upload-class-second-spe {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: bottom; }

.upload-class-choice {
  margin-left: 35px; }

.upload-file-form {
  width: 700px;
  height: 35px;
  background-color: #ffffff;
  margin-left: 40px;
  border: none;
  outline: medium; }

.upload-submite {
  display: block;
  width: 190px;
  position: absolute;
  height: 35px;
  background: #33c157;
  font-size: 25px;
  left: 50%;
  margin-left: -95px;
  color: #ffffff;
  margin-bottom: 50px; }

.flashes {
  position: absolute;
  width: 200px;
  bottom: 10px;
  left: 50%;
  text-align: center;
  margin-left: -100px;
  list-style: none; }

.uploadfile {
  margin-left: -75px;
  width: 150px;
  height: 40px;
  vertical-align: middle; }

.upload-addurl {
  display: block;
  margin-left: 150px;
  margin-bottom: 30px;
  letter-spacing: 10px; }

.textarea-form {
  padding: 10px;
  width: 700px;
  height: 100px; }

.choice-margin {
  margin-left: 50px; }
