$d_green:#207479;
$s_green:#33c157;
$content_width:100%;
$font-size:22.92px 20.83px 18.75px 16.67px 12.92px;
$font-color:#f5f5f5 #c9c9c9 #626262;
$font-family: "Microsoft YaHei",微软雅黑;
body{
	font-family: $font-family;
	background-color: #f5f5f5; 
}
.content{
	width: $content_width;
	height: auto;
	margin: auto;
	margin-bottom: 40px;
}
.guide{
	width:100%;
	height: 47px;
	background-color: $d_green;
}
.button_list{
	margin-left: 12px;
}
button{
	outline: none;
	border: 0;
	cursor: pointer;
}
.first,.second,.third{
	background:transparent;
	height: 47px;
	border-style: none;
	margin: 0px;
	color: nth($font-color,1);
	font-size: nth($font-size,2);
	cursor: pointer;
}
.first{
	width: 84px;
}
.second{
	width: 120px;
}
.third{
	width: 120px;
}



