$rank-width:150px;
$rank-height:50px;
$font-color:#383838 #c9c9c9 #626262;
$font-size: 27.08px 16.67px 12.92px;
.rank-main{
	overflow: hidden;
	width: 1230px;
	margin: 40px auto 0px;
}

.rank-movie-head,.rank-text-head,.rank-photo-head,.rank-catoon-head,.rank-course-head{
	width: $rank-width;
	height:$rank-height;
	box-shadow: 2px 2px 2px #cecece;
	text-align: center;
	font-size:nth($font-size,1);
	color:nth($font-color,1);
	line-height: 50px;
	font-weight: bold;
	background-color: #ffffff;
	font-family: "Microsoft YaHei";
}
.rank-movie-block,.rank-text-block,.rank-photo-block,.rank-catoon-block,.rank-course-block{
	float: left;
	margin-left: 40px;
}
.rank-movie-rank,.rank-text-rank,.rank-photo-rank,.rank-catoon-rank,.rank-course-rank{
	margin-left: -20px;
	border-left:1px dotted #c9c9c9;
	margin-top: 10px;
	margin-bottom: 20px;
	.rank_content{
		width: $rank-width;
		height: 30px;
		margin-left: 20px;
	}
	.rank_content_title{
		display: inline-block;
		height: 30px;
		line-height: 30px;
		width: $rank-width - 30px;
		text-overflow:ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	a{
		color: #000;
		line-height: 30px;
		font-size:nth($font-size,2);
		color:nth($font-color,3);
	}
	.rank_content_liked{
		display: inline-block;
		width: 25px;
		text-align: right;
	}
	span{
		font-size:nth($font-size,3);
		color:nth($font-color,2);
		line-height: 30px;
		vertical-align: text-bottom;
	}
}
.rank-movie-rank{
	border: none;
}
.long-head{
	font-size: 22px;
}