$background-color: #f5f5f5;
$underlineb-bc:#c9c9c9;
$font-size:39.58px 25px 22.92px 20.83px;
$font-color:#f5f5f5 #c9c9c9 #626262;
.second_box{
	padding:0 10%;
	margin-bottom: 15%;
}

.second_head{
	display: block;
	margin-top: 50px;
	line-height: 50px;
	border-bottom: 1px solid $underlineb-bc;
	}
.second_content{
	display: block;
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	p{	
		text-align: left;
		line-height: 50px;
		font-size:nth($font-size,4);
		font-family: "Microsoft YaHei";
		color: nth($font-color,3);
	}
}

.second_head_title{
	font-family: "SimSun" 宋体;
	font-size:nth($font-size,1);
	color: nth($font-color,3);
}
.second_head_author{	
	margin-left: 10px;
    font-size: 25px;
    color: $underlineb-bc;
    font-size:nth($font-size,4);
    font-family: "Microsoft YaHei";
    color: nth($font-color,2);
	}

.second_vote{
	position: fixed;
	height: 83px;
	width: 100%;
	bottom: 0;
	border-top: 1px solid $underlineb-bc;
	background-color: $background-color;
	z-index: 300;
	button{
		height: 40px;
		width: 200px;
		position: absolute;
		left: 50%;
		top: 10px;
		margin-left: -100px;
		background-color: #33c157;
		color: #ffffff;
		font-size:nth($font-size,2);
		font-family: "Microsoft YaHei";
		color: nth($font-color,1);
	}
}
.c_container{
	display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 500;
    background: rgba(41, 47, 51, 0.7);
}
  .c_content{
    width: 100%;
    margin: 200px auto;
  }
  .c_box{
    width:300px;
    margin: -80px auto;
  }
#c_confirm_btn{
	display: block;
  	margin: auto;
	width: 80px;
  	height: 40px;
  	font-size: 20px;
  	color:#c9c9c9;
  	background-color: #33c157;
}
.submite_flash{
	position: fixed;
	width: 160px;
	bottom: 3px;
	left: 50%;
	text-align: center;
	margin-left: -80px;
	list-style: none;
	font-size: 20px;
	z-index: 350;
}
