{% extends 'main/base.html' %} 
{% block title %}文化节{% endblock %}
{% block page_content %}
	<div class="index_banner">
		<div class="index_banner_img"><img src="/static/img/banner1.jpg"></div>
	</div>
	<div class="index_notice">
		<div class="index_title">
			<div class="index_tag tag1">通知</div>
			<a class="index_more" href="{{ url_for('main.notices') }}">更多 ></a>
		</div>
		<div class="index_notice_box">
		{% for notice in notices %}
			<div class="index_notice_content">
                <div class="index_notice_dot"></div>
				<a class="index_notice_time">{{ notice.timestamp }}</a>
                <div class="index_notice_line"><a href="{{ url_for('main.get_notice', id=notice.id) }}">{{ notice.name }}</a></div>
			</div>
		{% endfor %}
		</div>
	</div>
	<div class="index_article">
		<div class="index_title">
			<div class="index_tag tag2">网文</div>
			<a class="index_more" href="{{ url_for('main.articles') }}">更多 ></a>
		</div>
		<div class="index_article_box">
			{% for article in articles %}
			<div class="index_article_content">
				<div class="index_article_line">
					<a class="index_article_title" href="{{ url_for('main.get_article', id=article.id) }}">{{ article.bname }}</a>
					<div class="index_article_info">
						<div class="index_author_name">{{ article.author_name }} ／文</div>
						<div class="index_liked_count">{{ article.liked_count }}</div>
						<div class="index_timestamp">{{ article.timestamp }}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="index_tu">
		<div class="index_title">
			<div class="index_tag tag1">电影</div>
			<a class="index_more" href="{{ url_for('main.movies') }}">更多 ></a>
		</div>
		<div class="index_tu_box">
			{% for movie in movies %}
			<div class="index_tu_content">
				<div class="index_tu_img"><a href="{{ url_for('main.get_movie', id=movie.id) }}"><img src="{{ movie.url }}"></a></div>
				<div class="index_tu_info_box">
					<div class="index_tu_info">
						<div class="index_tu_title_name"><a href="{{ url_for('main.get_movie', id=movie.id) }}">{{ movie.bname }}</a>
						</div>
						<div class="index_tu_time_name">
							<span>{{ movie.timestamp }}</span>
							<span>{{ movie.author_name }}</span>
						</div>
					</div>
					<div class="index_tu_like">
						<img src="../../static/img/heart.png">
						<div class="index_liked_count"><a>{{ movie.liked_count }}</a></div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="index_tu">
		<div class="index_title">
			<div class="index_tag tag2">摄影</div>
			<a class="index_more" href="{{ url_for('main.photos') }}">更多 ></a>
		</div>
		<div class="index_tu_box">
			{% for photo in photos %}
			<div class="index_tu_content">
				<div class="index_tu_img"><a href="{{ url_for('main.get_photo', id=photo.id) }}"><img src="{{ photo.url }}"></a></div>
				<div class="index_tu_info_box">
					<div class="index_tu_info">
						<div class="index_tu_title_name"><a href="{{ url_for('main.get_photo', id=photo.id) }}">{{ photo.bname }}</a>
						</div>
						<div class="index_tu_time_name">
							<span>{{ photo.timestamp }}</span>
							<span>{{ photo.author_name }}</span>
						</div>
					</div>
					<div class="index_tu_like">
						<img src="../../static/img/heart.png">
						<div class="index_liked_count"><a>{{ photo.liked_count }}</a></div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="index_tu">
		<div class="index_title">
			<div class="index_tag tag1">动漫</div>
			<a class="index_more" href="{{ url_for('main.animes') }}">更多 ></a>
		</div>
		<div class="index_tu_box">
			{% for anime in animes %}
			<div class="index_tu_content">
				<div class="index_tu_img"><a href="{{ url_for('main.get_anime', id=anime.id) }}"><img src="{{ anime.url }}"></a></div>
				<div class="index_tu_info_box">
					<div class="index_tu_info">
						<div class="index_tu_title_name"><a href="{{ url_for('main.get_anime', id=anime.id) }}">{{ anime.bname }}</a>
						</div>
						<div class="index_tu_time_name">
							<span>{{ anime.timestamp }}</span>
							<span>{{ anime.author_name }}</span>
						</div>
					</div>
					<div class="index_tu_like">
						<img src="../../static/img/heart.png">
						<div class="index_liked_count"><a>{{ anime.liked_count }}</a></div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="index_tu">
		<div class="index_title">
			<div class="index_tag tag2">微课程</div>
			<a class="index_more" href="{{ url_for('main.courses') }}">更多 ></a>
		</div>
		<div class="index_tu_box">
			{% for course in courses %}
			<div class="index_tu_content">
				<div class="index_tu_img"><a href="{{ url_for('main.get_course', id=course.id) }}"><img src="{{ course.url }}"></a></div>
				<div class="index_tu_info_box">
					<div class="index_tu_info">
						<div class="index_tu_title_name"><a href="{{ url_for('main.get_course', id=course.id) }}">{{ course.bname }}</a>
						</div>
						<div class="index_tu_time_name">
							<span>{{ course.timestamp }}</span>
							<span>{{ course.author_name }}</span>
						</div>
					</div>
					<div class="index_tu_like">
						<img src="../../static/img/heart.png">
						<div class="index_liked_count"><a>{{ course.liked_count }}</a></div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<script src="../../static/js/index.js"></script>
 {% endblock %}
