{% extends 'main/base.html' %}
{% block title %}电 影{% endblock %}
{% block page_content %}
	<div class="index_tu index_morecontent">
		<div class="index_title">
			<div class="index_tag tag2">电影</div>
		</div>
		<div class="index_tu_box">
			{% for movie in movies %}
			<div class="index_tu_content">
                <div class="index_tu_img"><img src="{{ movie.url }}"></div>
				<div class="index_tu_info_box">
					<div class="index_tu_info">
						<a href="{{ url_for('main.get_movie', id=movie.id) }}">{{ movie.bname }}</a>
						<span>{{ movie.timestamp[5:10] }}</span>
						<span>{{ movie.author_name }}</span>
					</div>
					<div class="index_tu_like">
						<img src="../../static/img/heart.png">
						<a>{{ movie.liked_count }}</a>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="index_tu_content index_blank"></div>
			<div class="index_tu_content index_blank"></div>
		</div>
	</div>
{% endblock %}
