{% extends 'main/base.html' %}
{% block title %}通知-{{ notice.name }}{% endblock %}
	{% block page_content %}
	<div class="second_box">
		<div class="second_head">
			<span class="second_head_title second_notice">{{ notice.name }}</span>
			<span class="second_head_author second_notice_time">{{ notice.a_time }}</span>
		</div>
		<p class="second_description">{{ notice.description }}</p>
		<div class="second_content">{{ notice.body | safe }}</div>
	</div>
	{% endblock %}
	{% block vote_button %}
	<div class="second_vote">
		<a href="{{ notice.appendix }}" class="second_download" style="margin-top:15px;">下载附件</a>
	</div>
	{% endblock %}
