{% extends 'main/base.html' %}
{% block title %}通知{% endblock %}
{% block page_content %}
		<div class="index_notice index_morecontent">
		<div class="index_title">
			<div class="index_tag tag1">通知</div>
		</div>
		<div class="index_notice_box">
			{% for notice in notices%}
			<div class="index_notice_content">
                <div class="index_notice_dot"></div>
				<a class="index_notice_time">{{ notice.a_time }}</a>
                <div class="index_notice_line"><a href="{{ url_for('main.get_notice', id=notice.id) }}">{{ notice.name }}</a></div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
