{% extends 'main/base.html' %}
{% block title %}{{ photo.present_name }}-{{ photo.author_name }}{% endblock %}
	{% block page_content %}
	<div class="second_box">
		<div class="second_head">
			<span class="second_head_title">{{ photo.present_name }}</span>
			<span class="second_head_author">{{ photo.a_time }}/{{ photo.author_name }}</span>
		</div>
		<p class="second_description">{{ photo.description }}</p>
        <div class="second_content second_media">
        <div class="banner">
        	{% for eachPhoto in photo_urls %}
        	<div class="banner_img">
        		<img src="{{ eachPhoto }}">
        	</div>
        	{% endfor %}
        	<div class="switch_bt">
	        	{% for eachPhoto in photo_urls %}
	        	<div class="dot"></div>
	        	{% endfor %}
        	</div>
        </div>
        </div>
	    <!-- 多说评论框 start -->
	    <div class="ds-thread" data-thread-key="p{{ photo.id }}" data-title="{{ photo.present_name }}" data-url="{{ url_for('main.get_photo', id=photo.id) }}"></div>
	    <!-- 多说评论框 end -->
	    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	    <script type="text/javascript">
	    var duoshuoQuery = {short_name:"wenhuajie"};
	        (function() {
	            var ds = document.createElement('script');
	            ds.type = 'text/javascript';ds.async = true;
	            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
	            ds.charset = 'UTF-8';
	            (document.getElementsByTagName('head')[0] 
	             || document.getElementsByTagName('body')[0]).appendChild(ds);
	        })();
	        </script>
	    <!-- 多说公共JS代码 end -->
	</div>
	{% endblock %}
	{% block captcha %}
	<div class="c_container" id="captcha_container">
		<div class="c_content">
			<form method="post" action="{{ url_for('main.validate_capthca') }}">
				<div class="c_box">
				<div id="captcha"></div>
				<div class="c_box">
					<!-- <button id="submit-button">提交</button> -->
				</div>
				<script src="http://static.geetest.com/static/tools/gt.js"></script>
				<script>
				    var handler = function (captchaObj) {
				         // 将验证码加到id为captcha的元素里
				         captchaObj.appendTo("#captcha");
				     };
				    $.ajax({
				        // 获取id，challenge，success（是否启用failback）
				        url: "/main/getcaptcha",
				        type: "get",
				        dataType: "json", // 使用jsonp格式
				        success: function (data) {
				            // 使用initGeetest接口
				            // 参数1：配置参数，与创建Geetest实例时接受的参数一致
				            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
				            initGeetest({
				                gt: data.gt,
				                challenge: data.challenge,
				                product: "embed", // 产品形式
				                offline: !data.success
				            }, handler);
				        }
				    });
				</script>
				</div>
				<div class="c_confirm"><button id="c_confirm_btn">确认</button></div>
			</form>
		</div>
	</div>
	{% endblock %}
	{% block vote_button %}
	<div class="second_vote">
		<button class="second_vote_bt" id="vote_btn">投票</button>
	</div>
	<script src="../../../static/js/second.js"></script>
	<script src="../../../static/js/jquery.js"></script>
	<script src="../../../static/js/modernizr.custom.js"></script>
	<script src="../../../static/js/banner.js"></script>
	{% endblock %}
	{% block flash_message %}
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="submite_flash" id="submit_flash">
			{% for message in messages %}
			<div class="submite_message">{{ message }}</div>
			{% endfor %}
			<div class="submit_close" id="submit_close">x</div>
		</div>
		{% endif %}
		{% endwith %}
	{% endblock %}

