{% extends 'main/base.html' %}
{% block title %}摄 影{% endblock %}
{% block page_content %}
	<div class="index_tu index_morecontent">
		<div class="index_title">
			<div class="index_tag tag2">摄影</div>
		</div>
		<div class="index_tu_box">
			{% for photo in photos %}
			<div class="index_tu_content">
                <div class="index_tu_img"><img src="{{ photo.url }}"></div>
				<div class="index_tu_info_box">
					<div class="index_tu_info">
						<a href="{{ url_for('main.get_photo', id=photo.id) }}">{{ photo.present_name }}</a>
						<span>{{ photo.a_time }}</span>
						<span>{{ photo.author_name }}</span>
					</div>
					<div class="index_tu_like">
						<img src="../../static/img/heart.png">
						<a>{{ photo.liked_count }}</a>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="index_tu_content index_blank"></div>
			<div class="index_tu_content index_blank"></div>
		</div>
	</div>
{% endblock %}
