	{% extends 'main/base.html' %}
    {% block title %}票数排名{% endblock %}
	{% block page_content %}
	<div class="rank-main">
		<div class="rank-movie-block">
			<div class="rank-movie-head">微视频</div>
			<div class="rank-movie-rank">
				{% for rank_movie in movies %}
	            <div class="rank_content">
		            <div class="rank_content_title"><a href="{{ url_for('main.get_movie', id=rank_movie.id) }}">{{ rank_movie.present_name }}</a></div>
		            <div class="rank_content_liked"><span>{{ rank_movie.liked_count}}</span></div>
	            </div>
				{% endfor %}
			</div>
		</div>
		<div class="rank-text-block">
			<div class="rank-text-head">网文</div>
			<div class="rank-text-rank">
				{% for rank_article in articles %}
				<div class="rank_content">
					<div class="rank_content_title"><a href="{{ url_for('main.get_article', id=rank_article.id) }}">{{ rank_article.present_name }}</a></div>
					<div class="rank_content_liked"><span>{{ rank_article.liked_count}}</span></div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="rank-photo-block">
			<div class="rank-photo-head">摄影</div>
			<div class="rank-photo-rank">
				{% for rank_photo in photos %}
				<div class="rank_content">
					<div class="rank_content_title"><a href="{{ url_for('main.get_photo', id=rank_photo.id) }}">{{ rank_photo.present_name }}</a></div>
					<div class="rank_content_liked"><span>{{ rank_photo.liked_count}}</span></div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="rank-catoon-block">
			<div class="rank-catoon-head">动漫</div>
			<div class="rank-catoon-rank">
				{% for rank_anime in animes %}
				<div class="rank_content">
					<div class="rank_content_title"><a href="{{ url_for('main.get_anime', id=rank_anime.id) }}">{{ rank_anime.present_name }}</a></div>
					<div class="rank_content_liked"><span>{{ rank_anime.liked_count}}</span></div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="rank-course-block">
			<div class="rank-course-head">微课程</div>
			<div class="rank-course-rank">
				{% for rank_course in courses %}
				<div class="rank_content">
					<div class="rank_content_title"><a href="{{ url_for('main.get_course', id=rank_course.id) }}">{{ rank_course.present_name }}</a></div>
					<div class="rank_content_liked"><span>{{ rank_course.liked_count}}</span></div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="rank-course-block">
			<div class="rank-course-head long-head">网络创新创业</div>
			<div class="rank-course-rank">
				{% for rank_startup in startups %}
				<div class="rank_content">
					<div class="rank_content_title"><a href="{{ url_for('main.get_startup', id=rank_startup.id) }}">{{ rank_startup.present_name }}</a></div>
					<div class="rank_content_liked"><span>{{ rank_startup.liked_count }}</span></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<script src="../../static/js/rank.js"></script>
	{% endblock %}
