{% extends "/main/layout.html" %}
{% block body %}
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form action=""  method="post" enctype="multipart/form-data">
        <p>
            <input type="file" name="file">
        </p>
        <p>
            类别
            <input type="text" name="tag">
        </p>
        <p>
            作品名
            <input type="text" name="file_name">
        </p>
        <p>
            作者
            <input type="text" name="author_name">
        </p>
        <p>
            <input type="submit" value="Upload">
        </p>
    </form>
{% endblock %}
